USE [master]
GO
/****** Object:  Database [УчебнаяВласов]    Script Date: 26.04.2025 14:01:52 ******/
CREATE DATABASE [УчебнаяВласов]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'УчебнаяВласов', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\УчебнаяВласов.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'УчебнаяВласов_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\УчебнаяВласов_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [УчебнаяВласов].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [УчебнаяВласов]
GO
/****** Object:  Table [dbo].[Академики]    Script Date: 26.04.2025 14:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Академики](
	[Фамилия] [nvarchar](255) NULL,
	[Имя] [nvarchar](255) NULL,
	[Отчество] [nvarchar](255) NULL,
	[Дата_рождения] [datetime] NULL,
	[Специализация] [nvarchar](255) NULL,
	[Год_присвоения_звания] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Страны]    Script Date: 26.04.2025 14:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страны](
	[Название] [nvarchar](255) NULL,
	[Столица] [nvarchar](255) NULL,
	[Площадь] [float] NULL,
	[Население] [float] NULL,
	[Континент] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Академики] ([Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (N'Аничков', N'Николай', N'Николаевич', CAST(N'1885-11-03T00:00:00.000' AS DateTime), N'медицина', 1939)
INSERT [dbo].[Академики] ([Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (N'Бартольд', N'Василий', N'Владимирович', CAST(N'1869-11-15T00:00:00.000' AS DateTime), N'историк', 1913)
INSERT [dbo].[Академики] ([Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (N'Белопольский', N'Аристарх', N'Аполлонович', CAST(N'1854-07-13T00:00:00.000' AS DateTime), N'астрофизик', 1903)
GO
INSERT [dbo].[Страны] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Австрия', N'Вена', 83858, 8741753, N'Европа')
INSERT [dbo].[Страны] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Азербайджан', N'Баку', 86600, 9705600, N'Азия')
INSERT [dbo].[Страны] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Албания', N'Тирана', 28748, 2866026, N'Европа')
GO
USE [master]
GO
