USE [master]
GO
/****** Object:  Database [УчебнаяВласов]    Script Date: 10.05.2025 12:07:46 ******/
CREATE DATABASE [УчебнаяВласов]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'УчебнаяВласов', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\УчебнаяВласов.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'УчебнаяВласов_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\УчебнаяВласов_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [УчебнаяВласов].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [УчебнаяВласов]
GO
/****** Object:  Table [dbo].[Академики]    Script Date: 10.05.2025 12:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Академики](
	[Фамилия] [nvarchar](255) NULL,
	[Имя] [nvarchar](255) NULL,
	[Отчество] [nvarchar](255) NULL,
	[Дата_рождения] [datetime] NULL,
	[Специализация] [nvarchar](255) NULL,
	[Год_присвоения_звания] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Дисциплина]    Script Date: 10.05.2025 12:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Дисциплина](
	[Код] [int] NOT NULL,
	[Объем] [int] NOT NULL,
	[Название] [nvarchar](255) NOT NULL,
	[Исполнители] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Дисципли__AE76132EB2AFD899] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Зав_кафедрой]    Script Date: 10.05.2025 12:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Зав_кафедрой](
	[Таб_номер] [int] NOT NULL,
	[Стаж] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Таб_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заявка]    Script Date: 10.05.2025 12:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявка](
	[Код] [int] NOT NULL,
	[Номер] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код] ASC,
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Инженер]    Script Date: 10.05.2025 12:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Инженер](
	[Таб_номер] [int] NOT NULL,
	[Специальность] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Таб_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Кафедра]    Script Date: 10.05.2025 12:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Кафедра](
	[Шифр] [nvarchar](255) NOT NULL,
	[Название] [nvarchar](255) NOT NULL,
	[Факультет] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Кафедра__6900EEE6C99ABF9B] PRIMARY KEY CLUSTERED 
(
	[Шифр] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Преподаватель]    Script Date: 10.05.2025 12:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Преподаватель](
	[Таб_номер] [int] NOT NULL,
	[Звание] [nvarchar](255) NOT NULL,
	[Степень] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Преподав__9398F8D9A8B88257] PRIMARY KEY CLUSTERED 
(
	[Таб_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 10.05.2025 12:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[Таб_номер] [int] NOT NULL,
	[Кафедра] [nvarchar](255) NULL,
	[ФИО] [nvarchar](255) NULL,
	[Должность] [nvarchar](255) NULL,
	[Зарплата] [decimal](10, 2) NULL,
	[Начальник] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Таб_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Специальность]    Script Date: 10.05.2025 12:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Специальность](
	[Номер] [nvarchar](255) NOT NULL,
	[Направление] [nvarchar](255) NOT NULL,
	[Шифр] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Специаль__063C4BF66E9B2C1B] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Страны]    Script Date: 10.05.2025 12:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страны](
	[Название] [nvarchar](255) NULL,
	[Столица] [nvarchar](255) NULL,
	[Площадь] [float] NULL,
	[Население] [float] NULL,
	[Континент] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Студент]    Script Date: 10.05.2025 12:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Студент](
	[Рег_номер] [int] NOT NULL,
	[Номер] [nvarchar](255) NOT NULL,
	[Фамилия] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Студент__7C2075B918EE6AAD] PRIMARY KEY CLUSTERED 
(
	[Рег_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Факультет]    Script Date: 10.05.2025 12:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Факультет](
	[Аббревиатура] [nvarchar](255) NOT NULL,
	[Название] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Факульте__FDFD878688973C4E] PRIMARY KEY CLUSTERED 
(
	[Аббревиатура] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Экзамен]    Script Date: 10.05.2025 12:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Экзамен](
	[Код_Экзамена] [int] NOT NULL,
	[Дата] [date] NOT NULL,
	[Код] [int] NOT NULL,
	[Рег_номер] [int] NOT NULL,
	[Таб_номер] [int] NOT NULL,
	[Аудитория] [nvarchar](4) NOT NULL,
	[Оценка] [int] NOT NULL,
 CONSTRAINT [PK__Экзамен__327441B58168560D] PRIMARY KEY CLUSTERED 
(
	[Код_Экзамена] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Академики] ([Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (N'Аничков', N'Николай', N'Николаевич', CAST(N'1885-11-03T00:00:00.000' AS DateTime), N'медицина', 1939)
INSERT [dbo].[Академики] ([Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (N'Бартольд', N'Василий', N'Владимирович', CAST(N'1869-11-15T00:00:00.000' AS DateTime), N'историк', 1913)
INSERT [dbo].[Академики] ([Фамилия], [Имя], [Отчество], [Дата_рождения], [Специализация], [Год_присвоения_звания]) VALUES (N'Белопольский', N'Аристарх', N'Аполлонович', CAST(N'1854-07-13T00:00:00.000' AS DateTime), N'астрофизик', 1903)
GO
INSERT [dbo].[Дисциплина] ([Код], [Объем], [Название], [Исполнители]) VALUES (101, 320, N'Математика', N'вм')
INSERT [dbo].[Дисциплина] ([Код], [Объем], [Название], [Исполнители]) VALUES (102, 160, N'Информатика', N'пи')
INSERT [dbo].[Дисциплина] ([Код], [Объем], [Название], [Исполнители]) VALUES (103, 160, N'Физика', N'оф')
GO
INSERT [dbo].[Зав_кафедрой] ([Таб_номер], [Стаж]) VALUES (101, 15)
INSERT [dbo].[Зав_кафедрой] ([Таб_номер], [Стаж]) VALUES (201, 18)
INSERT [dbo].[Зав_кафедрой] ([Таб_номер], [Стаж]) VALUES (301, 20)
GO
INSERT [dbo].[Заявка] ([Код], [Номер]) VALUES (101, N'01.03.04')
INSERT [dbo].[Заявка] ([Код], [Номер]) VALUES (101, N'09.03.02')
INSERT [dbo].[Заявка] ([Код], [Номер]) VALUES (101, N'09.03.03')
GO
INSERT [dbo].[Инженер] ([Таб_номер], [Специальность]) VALUES (153, N'электроник')
INSERT [dbo].[Инженер] ([Таб_номер], [Специальность]) VALUES (241, N'электроник')
INSERT [dbo].[Инженер] ([Таб_номер], [Специальность]) VALUES (242, N'программист')
GO
INSERT [dbo].[Кафедра] ([Шифр], [Название], [Факультет]) VALUES (N'вм', N'Высшая математика', N'Ен')
INSERT [dbo].[Кафедра] ([Шифр], [Название], [Факультет]) VALUES (N'ис', N'Информационные системы', N'Ит')
INSERT [dbo].[Кафедра] ([Шифр], [Название], [Факультет]) VALUES (N'мм', N'Математическое моделирование', N'Фм')
GO
INSERT [dbo].[Преподаватель] ([Таб_номер], [Звание], [Степень]) VALUES (101, N'профессор', N'д. т.н.')
INSERT [dbo].[Преподаватель] ([Таб_номер], [Звание], [Степень]) VALUES (102, N'доцент', N'к. ф.-м. н.')
INSERT [dbo].[Преподаватель] ([Таб_номер], [Звание], [Степень]) VALUES (105, N'доцент', N'к. т.н.')
GO
INSERT [dbo].[Сотрудник] ([Таб_номер], [Кафедра], [ФИО], [Должность], [Зарплата], [Начальник]) VALUES (101, N'пи', N'Прохоров П.П.', N'зав. кафедрой', CAST(35000.00 AS Decimal(10, 2)), 101)
INSERT [dbo].[Сотрудник] ([Таб_номер], [Кафедра], [ФИО], [Должность], [Зарплата], [Начальник]) VALUES (102, N'пи', N'Семенов С.С.', N'преподаватель', CAST(25000.00 AS Decimal(10, 2)), 101)
INSERT [dbo].[Сотрудник] ([Таб_номер], [Кафедра], [ФИО], [Должность], [Зарплата], [Начальник]) VALUES (105, N'пи', N'Петров П.П.', N'преподаватель', CAST(25000.00 AS Decimal(10, 2)), 101)
GO
INSERT [dbo].[Специальность] ([Номер], [Направление], [Шифр]) VALUES (N'01.03.04', N'Прикладная математика', N'мм')
INSERT [dbo].[Специальность] ([Номер], [Направление], [Шифр]) VALUES (N'09.03.02', N'Информационные системы и технологии', N'ис')
INSERT [dbo].[Специальность] ([Номер], [Направление], [Шифр]) VALUES (N'09.03.03', N'Прикладная информатика', N'пи')
GO
INSERT [dbo].[Страны] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Австрия', N'Вена', 83858, 8741753, N'Европа')
INSERT [dbo].[Страны] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Азербайджан', N'Баку', 86600, 9705600, N'Азия')
INSERT [dbo].[Страны] ([Название], [Столица], [Площадь], [Население], [Континент]) VALUES (N'Албания', N'Тирана', 28748, 2866026, N'Европа')
GO
INSERT [dbo].[Студент] ([Рег_номер], [Номер], [Фамилия]) VALUES (10101, N'09.03.03', N'Николаева Н. Н.')
INSERT [dbo].[Студент] ([Рег_номер], [Номер], [Фамилия]) VALUES (10102, N'09.03.03', N'Иванов И. И.')
INSERT [dbo].[Студент] ([Рег_номер], [Номер], [Фамилия]) VALUES (10103, N'09.03.03', N'Крюков К. К.')
GO
INSERT [dbo].[Факультет] ([Аббревиатура], [Название]) VALUES (N'Гн', N'Гуманитарные науки')
INSERT [dbo].[Факультет] ([Аббревиатура], [Название]) VALUES (N'Ен', N'Естественные науки')
INSERT [dbo].[Факультет] ([Аббревиатура], [Название]) VALUES (N'Ит', N'Информационные технологии')
GO
INSERT [dbo].[Экзамен] ([Код_Экзамена], [Дата], [Код], [Рег_номер], [Таб_номер], [Аудитория], [Оценка]) VALUES (1, CAST(N'2015-06-05' AS Date), 102, 10101, 102, N'т505', 4)
INSERT [dbo].[Экзамен] ([Код_Экзамена], [Дата], [Код], [Рег_номер], [Таб_номер], [Аудитория], [Оценка]) VALUES (2, CAST(N'2015-06-05' AS Date), 102, 10102, 102, N'т505', 4)
INSERT [dbo].[Экзамен] ([Код_Экзамена], [Дата], [Код], [Рег_номер], [Таб_номер], [Аудитория], [Оценка]) VALUES (3, CAST(N'2015-06-05' AS Date), 202, 20101, 202, N'т506', 4)
GO
ALTER TABLE [dbo].[Дисциплина]  WITH CHECK ADD  CONSTRAINT [FK__Дисциплин__Испол__6D0D32F4] FOREIGN KEY([Исполнители])
REFERENCES [dbo].[Кафедра] ([Шифр])
GO
ALTER TABLE [dbo].[Дисциплина] CHECK CONSTRAINT [FK__Дисциплин__Испол__6D0D32F4]
GO
ALTER TABLE [dbo].[Зав_кафедрой]  WITH CHECK ADD FOREIGN KEY([Таб_номер])
REFERENCES [dbo].[Сотрудник] ([Таб_номер])
GO
ALTER TABLE [dbo].[Заявка]  WITH CHECK ADD FOREIGN KEY([Код])
REFERENCES [dbo].[Дисциплина] ([Код])
GO
ALTER TABLE [dbo].[Заявка]  WITH CHECK ADD FOREIGN KEY([Номер])
REFERENCES [dbo].[Специальность] ([Номер])
GO
ALTER TABLE [dbo].[Инженер]  WITH CHECK ADD FOREIGN KEY([Таб_номер])
REFERENCES [dbo].[Сотрудник] ([Таб_номер])
GO
ALTER TABLE [dbo].[Кафедра]  WITH CHECK ADD  CONSTRAINT [FK__Кафедра__Факульт__6754599E] FOREIGN KEY([Факультет])
REFERENCES [dbo].[Факультет] ([Аббревиатура])
GO
ALTER TABLE [dbo].[Кафедра] CHECK CONSTRAINT [FK__Кафедра__Факульт__6754599E]
GO
ALTER TABLE [dbo].[Преподаватель]  WITH CHECK ADD  CONSTRAINT [FK__Преподава__Таб_н__7D439ABD] FOREIGN KEY([Таб_номер])
REFERENCES [dbo].[Сотрудник] ([Таб_номер])
GO
ALTER TABLE [dbo].[Преподаватель] CHECK CONSTRAINT [FK__Преподава__Таб_н__7D439ABD]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK__Сотрудник__Кафед__73BA3083] FOREIGN KEY([Кафедра])
REFERENCES [dbo].[Кафедра] ([Шифр])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK__Сотрудник__Кафед__73BA3083]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD FOREIGN KEY([Начальник])
REFERENCES [dbo].[Сотрудник] ([Таб_номер])
GO
ALTER TABLE [dbo].[Специальность]  WITH CHECK ADD  CONSTRAINT [FK__Специально__Шифр__6A30C649] FOREIGN KEY([Шифр])
REFERENCES [dbo].[Кафедра] ([Шифр])
GO
ALTER TABLE [dbo].[Специальность] CHECK CONSTRAINT [FK__Специально__Шифр__6A30C649]
GO
ALTER TABLE [dbo].[Экзамен]  WITH CHECK ADD  CONSTRAINT [FK__Экзамен__Код__02FC7413] FOREIGN KEY([Код])
REFERENCES [dbo].[Дисциплина] ([Код])
GO
ALTER TABLE [dbo].[Экзамен] CHECK CONSTRAINT [FK__Экзамен__Код__02FC7413]
GO
ALTER TABLE [dbo].[Экзамен]  WITH CHECK ADD  CONSTRAINT [FK__Экзамен__Рег_ном__03F0984C] FOREIGN KEY([Рег_номер])
REFERENCES [dbo].[Студент] ([Рег_номер])
GO
ALTER TABLE [dbo].[Экзамен] CHECK CONSTRAINT [FK__Экзамен__Рег_ном__03F0984C]
GO
ALTER TABLE [dbo].[Экзамен]  WITH CHECK ADD  CONSTRAINT [FK__Экзамен__Таб_ном__04E4BC85] FOREIGN KEY([Таб_номер])
REFERENCES [dbo].[Преподаватель] ([Таб_номер])
GO
ALTER TABLE [dbo].[Экзамен] CHECK CONSTRAINT [FK__Экзамен__Таб_ном__04E4BC85]
GO
USE [master]
GO
